<div class="mt-6">
    <h1 class="title">Clientes</h1>

    <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
        <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">

            <div class="mb-4 flex justify-end">
                <button class="btn-primary" (click)="redirectToNewCustomer()">Novo Cliente</button>
            </div>

            <table class="min-w-full leading-normal">
                <thead>
                <tr>
                    <th class="rent-th">
                        Nome
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterName"
                                   (input)="filterCustomers()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">
                        CPF
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterCpf"
                                   (input)="filterCustomers()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">
                        Email
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterEmail"
                                   (input)="filterCustomers()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">
                        Telefone
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterPhone"
                                   (input)="filterCustomers()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let customer of filteredCustomers">
                    <td class="td-style">{{ customer.name }}</td>
                    <td class="td-style">{{ customer.cpf }}</td>
                    <td class="td-style">{{ customer.email }}</td>
                    <td class="td-style">{{ customer.phone }}</td>
                    <td class="td-style">
                        <div class="flex space-x-2">
                            <button [routerLink]="['/customer', customer.id]" class="btn-actions bg-teal-600">
                                <fa-icon [icon]="['fas', 'eye']" title="Visualizar"></fa-icon>
                            </button>
                            <button [routerLink]="['/customer', customer.id, 'edit']" class="btn-actions bg-yellow-600">
                                <fa-icon [icon]="['fas', 'edit']" title="Editar"></fa-icon>
                            </button>
                            <button class="btn-actions bg-red-600" (click)="deleteCustomer(customer.id)">
                                <fa-icon [icon]="['fas', 'trash']" title="Deletar"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="flex flex-col items-center px-5 py-5 bg-white border-t xs:flex-row xs:justify-between">
                <span class="text-xs text-gray-900 xs:text-sm">{{ totalCustomers }} Clientes</span>
                <div class="inline-flex mt-2 xs:mt-0">
                    <button
                            class="btn-pagination text-white bg-slate-700 rounded-l"
                            (click)="previousPage()"
                            [disabled]="page === 1"
                            [class.bg-slate-300]="page === 1"
                            [class.cursor-not-allowed]="page === 1"
                            [class.bg-slate-700]="page !== 1">
                        Anterior
                    </button>
                    <ng-container *ngFor="let p of [].constructor(qntPage); let i = index">
                        <button
                                class="btn-pagination border text-slate-900"
                                [class.bg-slate-400]="page !== i + 1"
                                [class.bg-slate-500]="page === i + 1"
                                [class.cursor-not-allowed]="page === i + 1"
                                [class.text-white]="page === i + 1"
                                (click)="setPage(i + 1)">
                            {{ i + 1 }}
                        </button>
                    </ng-container>
                    <button
                            class="btn-pagination text-white bg-sta-600 rounded-r"
                            (click)="nextPage()"
                            [disabled]="page === qntPage"
                            [class.bg-slate-300]="page === qntPage"
                            [class.cursor-not-allowed]="page === qntPage"
                            [class.bg-slate-700]="page !== qntPage">
                        Próximo
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
