<div class="mt-6">
    <h1 class="title">Veículos</h1>

    <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
        <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">

            <div class="mb-4 flex justify-end">
                <button class="btn-primary" (click)="redirectToNewVehicle()">Novo Veículo</button>
            </div>

            <table class="min-w-full leading-normal">
                <thead>
                <tr>
                    <th class="rent-th">Imagem</th>
                    <th class="rent-th">
                        Marca
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterBrand"
                                   (input)="applyFilters()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">
                        Cor
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterColor"
                                   (input)="applyFilters()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">
                        Placa
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterLicensePlate"
                                   (input)="applyFilters()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">
                        Modelo
                        <div class="relative">
                            <input type="text" class="select-style" placeholder="Todos" [(ngModel)]="filterModel"
                                   (input)="applyFilters()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th">
                        Ano
                        <div class="relative">
                            <input type="number" class="select-style" placeholder="Todos" [(ngModel)]="filterYear"
                                   (input)="applyFilters()">
                            <div class="input-after-caret"></div>
                        </div>
                    </th>
                    <th class="rent-th" style="width:130px; column-span: 2">
                        Tipo
                        <div class="relative">
                            <select class="select-style mt-1 border rounded" [(ngModel)]="filterType"
                                    (change)="applyFilters()">
                                <option value="">Todos</option>
                                <option *ngFor="let option of carTypes" [value]="option.value">
                                    {{ option.label }}
                                </option>
                            </select>
                            <div class="input-after-caret">
                                <fa-icon [icon]="['fas', 'angle-down']" size="sm"
                                         class="mb-2 fill-current w-4 h-4 text-gray-800"></fa-icon>
                            </div>
                        </div>
                    </th>

                    <th class="rent-th">
                        Status
                        <div class="relative">
                            <select class="select-style" [(ngModel)]="filterStatus" (change)="applyFilters()">
                                <option value="">Todos</option>
                                <option *ngFor="let option of isRent" [value]="option.value">
                                    {{ option.label }}
                                </option>
                            </select>
                            <div class="input-after-caret">
                                <fa-icon [icon]="['fas', 'angle-down']" size="sm"
                                         class="mb-2 fill-current w-4 h-4 text-gray-800"></fa-icon>
                            </div>
                        </div>
                    </th>
                    <th class="rent-th">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let vehicle of vehicles">
                    <td class="td-style">
                        <div class="flex-shrink-0 w-20 h-20">
                            <img class="w-full h-full rounded-md" [src]="vehicle?.image_url || 'images/default.png'" alt="Imagem Veículo">
                        </div>
                    </td>
                    <td class="td-style">{{ vehicle?.brand }}</td>
                    <td class="td-style">{{ vehicle?.color }}</td>
                    <td class="td-style">{{ vehicle?.licensePlate }}</td>
                    <td class="td-style">{{ vehicle?.model }}</td>
                    <td class="td-style">{{ vehicle?.year }}</td>
                    <td class="td-style text-center text-slate-950">
                        <fa-icon
                                [icon]="['fas', vehicle.type.toLowerCase() === 'van' ? 'van-shuttle' : vehicle.type.toLowerCase()]"/>
                    </td>
                    <td class="td-style">
                        <span class="relative inline-block px-3 py-1 font-semibold leading-tight"
                              [ngClass]="{
                              'text-red-900 bg-red-200': vehicle.rented,
                              'text-green-900 bg-green-200': !vehicle.rented
                              }">
                            <span aria-hidden="true" class="absolute inset-0 opacity-50 rounded-full"
                                  [ngClass]="{'bg-red-200': vehicle.rented,'bg-green-200': !vehicle.rented}">

                            </span>
                            <span class="relative p-1 rounded"> {{ vehicle.rented ? 'Alugado' : 'Disponível' }} </span>
                        </span>
                    </td>
                    <td class="td-style">
                        <div class="flex space-x-2">
                            <button [routerLink]="vehicle ? ['/vehicle', vehicle.id] : ['/vehicle']" class="btn-actions bg-teal-600">
                                <fa-icon [icon]="['fas', 'eye']" title="Visualizar"></fa-icon>
                            </button>
                            <button [routerLink]="vehicle ? ['/vehicle', vehicle.id, 'edit'] : ['/vehicle']" class="btn-actions bg-yellow-600">
                                <fa-icon [icon]="['fas', 'edit']" title="Editar"></fa-icon>
                            </button>
                            <button class="btn-actions bg-red-600" (click)="deleteVehicle(vehicle.id)">
                                <fa-icon [icon]="['fas', 'trash']" title="Deletar"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="flex flex-col items-center px-5 py-5 bg-white border-t xs:flex-row xs:justify-between">
                <span class="text-xs text-gray-900 xs:text-sm">{{ totalVehicles }} veículos</span>
                <div class="inline-flex mt-2 xs:mt-0">
                    <button
                            class="btn-pagination text-white bg-slate-700"
                            (click)="previousPage()"
                            [disabled]="page === 1"
                            [class.bg-slate-300]="page === 1"
                            [class.cursor-not-allowed]="page === 1"
                            [class.bg-slate-700]="page !== 1">
                        Prev
                    </button>
                    <ng-container *ngFor="let p of [].constructor(qntPage); let i = index">
                        <button
                                class="btn-pagination border text-slate-900"
                                [class.bg-slate-400]="page !== i + 1"
                                [class.bg-slate-500]="page === i + 1"
                                [class.cursor-not-allowed]="page === i + 1"
                                [class.text-white]="page === i + 1"
                                (click)="setPage(i + 1)">
                            {{ i + 1 }}
                        </button>
                    </ng-container>
                    <button
                            class="btn-pagination text-white bg-sta-600"
                            (click)="nextPage()"
                            [disabled]="page === qntPage"
                            [class.bg-slate-300]="page === qntPage"
                            [class.cursor-not-allowed]="page === qntPage"
                            [class.bg-slate-700]="page !== qntPage">
                        Próximo
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
