<h1 class="title">Editar Veículo</h1>

<div class="vehicle-form">
    <form (ngSubmit)="updateVehicle()">
        <div class="form-group">
            <label for="model" class="text-gray-700">Modelo</label>
            <input id="model" [(ngModel)]="vehicle.model" name="model"
                   class="form-input" type="text" required>
        </div>

        <div class="form-group">
            <label for="color" class="text-gray-700">Cor</label>
            <input id="color" [(ngModel)]="vehicle.color" name="color"
                   class="form-input" type="text" required>
        </div>

        <div class="form-group">
            <label for="licensePlate" class="text-gray-700">Placa</label>
            <input id="licensePlate" [(ngModel)]="vehicle.licensePlate" name="licensePlate"
                   class="form-input" type="text" required>
        </div>

        <div class="form-group">
            <label for="type" class="text-gray-700">Tipo</label>
            <select id="type" [(ngModel)]="vehicle.type" name="type"
                    class="form-input" required>
                <option value="CAR">Carro</option>
                <option value="BUS">Ônibus</option>
                <option value="MOTORCYCLE">Motocicleta</option>
                <option value="TRUCK">Caminhão</option>
                <option value="VAN">Van</option>
            </select>
        </div>

        <div class="form-group">
            <label for="year" class="text-gray-700">Ano</label>
            <input id="year" [(ngModel)]="vehicle.year" name="year"
                   class="form-input" type="number" required>
        </div>

        <div class="form-group flex-start">
            <label for="rented" class="text-gray-700">Alugado</label>
            <input id="rented" class="form-check" type="checkbox" [(ngModel)]="vehicle.rented" name="rented">
        </div>

        <div class="form-group">
            <label for="image_url" class="text-gray-700">URL da Imagem</label>
            <input id="image_url" [(ngModel)]="vehicle.image_url" name="image_url"
                   class="form-input" type="text">
        </div>
        <div class="flex-end">
            <button type="submit">Salvar</button>
        </div>
    </form>
</div>
