<h1 class="title">Editar Cliente</h1>

<div class="vehicle-form">
    <form (ngSubmit)="updateCustomer()">
        <div class="form-group">
            <label for="name" class="text-gray-700">Nome</label>
            <input id="name" [(ngModel)]="customer.name" name="name"
                   class="form-input" type="text" required>
        </div>

        <div class="form-group">
            <label for="phone" class="text-gray-700">Telefone</label>
            <input id="phone" [(ngModel)]="customer.phone" name="phone"
                   class="form-input" type="text" required>
        </div>

        <div class="form-group">
            <label for="email" class="text-gray-700">Email</label>
            <input id="email" [(ngModel)]="customer.email" name="email"
                   class="form-input" type="email" required>
        </div>

        <div class="form-group">
            <label for="cpf" class="text-gray-700">CPF</label>
            <input id="cpf" [(ngModel)]="customer.cpf" name="cpf"
                   class="form-input" type="text" required>
        </div>

        <div class="flex-end">
            <button type="submit" class="button-save">Salvar</button>
        </div>
    </form>
    <div *ngIf="message" class="message-success">
        {{ message }}
    </div>
</div>
