<h1 class="title">Novo Cliente</h1>

<form (ngSubmit)="createCustomer()" class="vehicle-form">
    <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" class="form-input" [(ngModel)]="customer.name" name="name" required>
    </div>

    <div class="form-group">
        <label for="phone">Telefone</label>
        <input id="phone" class="form-input" [(ngModel)]="customer.phone" name="phone" required>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-input" type="email" [(ngModel)]="customer.email" name="email" required>
    </div>

    <div class="form-group">
        <label for="cpf">CPF</label>
        <input id="cpf" class="form-input" [(ngModel)]="customer.cpf" name="cpf" required>
    </div>

    <div class="flex justify-end space-x-2 mt-4">
        <button class="inline-block px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-700">Salvar</button>
    </div>
</form>
